 .header{
   display:flex;
   justify-content: space-between;
   flex:1;
   padding: 50px;
   position: relative;
   align-items: center;

}
 .menu{
    display: flex;
    flex: 1;
    justify-content: flex-end;

}
 .menu-icon{
    font-size: 20px;
}
  .mobile-menu{
    display:none;
}
.web-menu{
    display: flex;
} 
 .logo{
    display: flex;
    font-size:35px;
    color: white;
    font-weight: 800;
    text-decoration: wavy;
    background-color: black;
} 
 @media only screen and (max-width:720px){
    .mobile-menu{
        display: flex;
    }
    .web-menu{
        display: none;
    }
    .logo{
        font-size: 42px;
    }
}   
